%div.toolbar
  %ul.actions
    %li
      %p= button_link_to t('spree.admin.menus.new_menu'), new_object_url, :icon => 'add'
  %br.clear
  
%h1= t('.listing_menus')
%h2= @menu_bar.description

%table.index.sortable{:data => {:"sortable-link" => update_positions_admin_menu_bar_menus_url(@menu_bar)}}
  %thead
    %tr
      %th= sort_link @search, :link_text, t('spree.admin.menus.link_text')
      %th= sort_link @search, :url, t('spree.admin.menus.url')
      %th= t('spree.admin.menus.page_id')
      %th= t('spree.admin.menus.parent_id')
      %th= t('spree.admin.menus.menu_image')
      %th= t('action')
  %tbody
    - @collection.each do |menu|
      %tr{:id => "#{spree_dom_id menu}"}
        %td
          %span.handle &nbsp;
          = link_to menu.link_text
        %td
          = link_to menu.url
        %td
          - if menu.page.present?
            = link_to menu.page.title
          - else
            = t('.static_path')
        %td
          - if menu.parent_id.nil?
            -
          - else
            = menu.parent.link_text
        %td
          - if menu.menu_image.present?
            = link_to image_tag(menu.menu_image.url(:mini)), menu.menu_image.url(:color), :target => "_blank"
          - else
            brak
        %td
          = link_to_edit menu
          &nbsp;
          = link_to_delete menu
=# paginate @collection

= render :partial => 'spree/admin/shared/spree_menus_sidebar', :locals => {:current => "menu_elements"}
    