- if @menu_bar.try(:errors).present?
  = render 'spree/shared/error_messages', :target => @menu_bar

%h1= t('spree.admin.menu_bars.new_menu_bar')

= form_for([:admin, @menu_bar], :html => { :multipart => true }) do |f|
  = render "form", :form => f
  %p.form-buttons
    = button t('create') 
    = t('or') 
    = link_to t('cancel'), collection_url
    
= render :partial => 'spree/admin/shared/spree_menus_sidebar'